@import 'tailwindcss';

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

/* optional: default background for body */
// body {
//   @apply bg-bgLight text-textLight;
// }
// body.dark {
//   @apply bg-bgDark text-textDark;
// }
